<h4>Create - Edit employee</h4>

<div class="dialog-container">

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Name" [(ngModel)]="employee.name">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Company" [(ngModel)]="employee.company">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Age" [(ngModel)]="employee.age">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="employee.birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Favorite Color" [(ngModel)]="selectedColor" name="color">
            <mat-option *ngFor="let color of colors" [value]="color.id">
                {{ color.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Projects" [(ngModel)]="selectedProject" name="project">
            <mat-option *ngFor="let project of projects" [value]="project.id">
                {{ project.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div mat-dialog-actions class="center-btn">
        <button class="btn btn-secundary" (click)="onNoClick()">Cancel</button>

        <button class="btn btn-secundary" mat-button [mat-dialog-close]="{employee: employee, selectedProject: selectedProject, originalProject: originalProject}">Save</button>
    </div>

</div>