<h4>Create - Edit employee</h4>

<!--div class="employee-dialog-container">
    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Nombre" [(ngModel)]="employee.name">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Apellido" [(ngModel)]="employee.lastname">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Identificacion" [(ngModel)]="employee.identification">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Correo eléctronico" [formControl]="emailValidator" [(ngModel)]="employee.email">
        <mat-error *ngIf="emailValidator.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput placeholder="Alias" [(ngModel)]="employee.alias">
    </mat-form-field>

    <mat-form-field *ngIf="employee">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="employee.birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div mat-dialog-actions>
        <button class="btn btn-secundary" (click)="onNoClick()">Cancel</button>

        <button class="btn btn-secundary" mat-button [mat-dialog-close]="employee">Save</button>
    </div>

</div-->